{
    "business_support_it_dev_ip": "SQLLIST1011.qvcdev.qvc.net",
    "business_support_it_dev_user": "QVCDEV\\sUS-D-Vault-SQL",
    "business_support_it_dev_password": "",
    "venafi_policy_name": "Venafi-Certificate-Policy",
    "venafi_user": "sUS-D-Vault-Venafi",
    "venafi_password": "",
    "venafi_policy_zone_tls": "Vault\\Sandbox\\TLS",
    "venafi_policy_zone_tls_auth": "Vault\\Sandbox\\TLS",
    "venafi_certificate_path": "/vault/venafi/bundle.pem",
    "ad_url": "ldaps://rmtwdc610.qvcdev.qvc.net:636",
    "ad_binddn": "sUS-D-Vault-Rotate",
    "ad_bindpass": "",
    "ad_userdn": "DC=qvcdev,DC=qvc,DC=net",
    "ad_tlsminversion": "tls10",
    "ldap_url": "ldaps://rmtwdc610.qvcdev.qvc.net:636",
    "ldap_binddn": "sUS-I-Vault-Bind",
    "ldap_bindpass": "",
    "ldap_userdn": "DC=qvcdev,DC=qvc,DC=net",
    "ldap_tlsminversion": "tls10",
    "ldap_groupdn": "CN=VaultAdmins,OU=Groups,DC=qvcdev,DC=qvc,DC=net",
    "ldap_certificate": "",
    "siem_address": "10.4.102.69",
    "siem_socket_type": "tcp",
    "siem_format": "json",
    "siem_prefix": "WC-Sandbox",
    "description": "Hashicorp Vault Sandbox Audit"
}
